Django>5.2,<5.3
djangorestframework>3.16,<3.17
django_extensions==4.1

smsir-python
requests
networkx
dotenv

django-debug-toolbar # develop mode
matplotlib # Just to develop graph algorithms. (Not nrcessary for production)
