{% extends "ReportApp/base_result_list.html" %}

{% load customtags %}


{% block title %}
    Room log
{% endblock %}


{% block room_log_list_item %}
    <h1 style="color: #122b40;margin-left: 48px" title="room log">
        Room name: {{ room_name }}</h1>
    <ul>

    {% for item in log %}

        {% if item.is_transaction %}
            {% show_transaction_item item %}
        {% else %}
            {% show_spend_item item %}
        {% endif %}

    {% endfor %}

    {% copy_name log as page_obj %}
    {% include "ReportApp/list_items/pagination.html" %}

{% endblock %}
