{% extends "result_list.html" %}


{% block room_log_list_item %}
    <h1 style="color: #122b40;margin-left: 48px" title="room log">
        Room name: {{ room_name }}</h1>
    <ul>

    {% for item in log %}

        {% if item.is_transaction %}

            <li style="font-size: 50px; background-color: chartreuse; padding: 8px; margin-bottom: 8px">

                <div style="padding-left: 16px;padding-right: 16px; margin-top: 10px"
                        title="date: {{ item.date }}">{{ item.amount }}</div>
                <br>

                <div style="font-size: 25px; margin-left: 8px">
                    <hr style="font: 14px Georgia,serif;
                        padding: 0;
                        border: 0;
                        height: 0;
                        margin: 0 16px 2px 0;
                        border-top: 1px solid rgba(0, 0, 0, 0.2);
                        border-bottom: 1px solid rgba(255, 255, 255, 0.5);">
                    <b><i>payer: </i></b>
                    {{ item.payer.name }}
                    <br>
                    <hr style="font: 14px Georgia,serif;
                        padding: 0;
                        border: 0;
                        height: 0;
                        margin: 4px 16px 2px 0;
                        border-top: 1px solid rgba(0, 0, 0, 0.2);
                        border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
                    <b><i>receiver: </i></b>
                    {{ item.receiver.name }}
                    <br>
                </div>

            </li>

        {% else %}

            <li style="font-size: 50px; background-color: darksalmon; padding: 8px; margin-bottom: 8px">

                <div style="padding-left: 16px;padding-right: 16px; margin-top: 10px"
                        title="date: {{ item.date }}">{{ item.amount }}
                    for {{ item.description }}</div>
                <br>

                <div style="font-size: 25px; margin-left: 8px">
                    <hr style="font: 14px Georgia,serif;
                        padding: 0;
                        border: 0;
                        height: 0;
                        margin: 0 16px 2px 0;
                        border-top: 1px solid rgba(0, 0, 0, 0.2);
                        border-bottom: 1px solid rgba(255, 255, 255, 0.5);">
                    <b><i>spenders:</i></b><br>
                    {% for spender in item.spenders_set.all %}
                        {{ spender.spender_person.name }} (w=<b>{{ spender.weight }}</b>)<br>
                    {% endfor %}
                    <hr style="font: 14px Georgia,serif;
                        padding: 0;
                        border: 0;
                        height: 0;
                        margin: 4px 16px 2px 0;
                        border-top: 1px solid rgba(0, 0, 0, 0.2);
                        border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
                    <b><i>partners:</i></b><br>
                    {% for partner in item.partners_set.all %}
                        {{ partner.partner_person.name }} (w=<b>{{ partner.weight }}</b>)<br>
                    {% endfor %}
                </div>

            </li>

        {% endif %}
    {% endfor %}

{% endblock %}