{% load static %}


<section id="about" class="section-padding">

    <div class="container">

        <h2>About This App</h2>

        <h4>ایده ی این اپلیکیشن از اتاق خوابگاه آمده است که هم اتاقی ها بتوانند به کمک آن حساب های خود را تسویه کنند.</h4>
        <P>هر کاربر می تواند یک یا چند اتاق بسازد و آن ها را مدیریت کند. هر اتاق شامل چند شخص می باشد. کاربر می تواند خرج های مختلف را برای هر اتاق ثبت کند. خرج ها به این صورت هستند که شامل مبلغ و توضیح و خرج کننده (ها) و شریک های آن خرج میشوند. ضمنا خرج کننده ها و شریک ها میتوانند وزن های نابرابر داشته باشند. هر پولی که بین هم اتاقی ها ردوبدل شود در قالب تراکنش ذخیره خواهند شد.</P>
        <h5><b>در نهایت برای هر اتاق میتوان نتیجه ی نهایی را دید. اپلیکیشن برای محاسبه ی نتیجه از تراکنش ها و خرج ها استفاده می کند و با در نظر گرفتن پول های پرداختی و خرج شده به کاربر گزارش می دهد که هر هم اتاقی ای به دیگری چه مقدار بدهکار است.</b></h5>

        <div class="row">

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">mail</i>

                    <h4>TODO</h4>

                    <p>email to roommates</p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">cloud</i>

                    <h4>TODO</h4>

                    <p>restfull APIs</p>

                </div>

            </div>

            <div class="col-md-4">

                <div class="icon-box">

                    <i class="material-icons">format_list_bulleted</i>

                    <h4>Room log</h4>

                    <p>see the spends and transactions of room</p>

                </div>

            </div>

        </div>

    </div>

</section>
