{% load  static %}


<footer>

    <div class="container">

        <div class="row">

            <div class="footer-caption">

                    <h4><i class="material-icons">mail</i> ehsan.karbasian@gmail.com</h4>
                    <h4><i class="material-icons">phone</i> 0937 626 5623</h4>

                <hr>

                <h5 class="pull-left">Template downloaded from: <br> Vortex, &copy;2016 All rights reserved </h5>

                <ul class="liste-unstyled pull-right">

                    <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJfpsSbdPxhVRpWgZdSDmqRLBsbRKhCKLnHPWRBfhpDSMGCdtCvDDrhPNJksWlsxbCTpdjB" target="_blank"><i class="fa fa-envelope"></i></a></li>

                    <li><a href="https://github.com/ehsankarbasian" target="_blank"><i class="fa fa-github"></i></a></li>

                    <li><a href="https://www.linkedin.com/in/ehsan-karbasian-23171318b/" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                    <li><a href="https://t.me/ehsan_karbasian79" target="_blank"><i class="fa fa-paper-plane"></i></a></li>

                    <li><a href="https://wa.me/+989376265623" target="_blank"><i class="fa fa-whatsapp"></i></a></li>

                    <li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>

                    <li><a href="https://www.instagram.com/ehsan.karbasian/" target="_blank"><i class="fa fa-instagram"></i></a></li>

                </ul>

            </div>

        </div>

    </div>

</footer>
