{% extends "ReportApp/result_list.html" %}


{% block spend_list_item %}
    <h1 style="color: #122b40;margin-left: 48px" title="Room name: {{ room_name }}">List of
        spends</h1>

    <ul>

    {% for spend in spends %}

        <li style="font-size: 50px">
            <hr style="font: 14px Georgia,serif;
                padding: 0;
                margin: 50px 0 5px;
                overflow: visible;
                height: 30px;
                border-style: solid;
                border-color: black;
                border-width: 3px 0 0 0;
                border-radius: 20px;">

            <div style="padding-bottom: 16px; padding-left: 16px;padding-right: 16px"
                    title="date: {{ spend.date }}">{{ spend.amount }}
                for {{ spend.description }}
            </div>
            <br>

            <div style="font-size: 25px">
                <hr style="font: 14px Georgia,serif;
                    padding: 0;
                    border: 0;
                    height: 0;
                    margin: 0 16px 2px 0;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);">
                <b><i>spenders:</i></b><br>

                {% for spender in spend.spenders_set.all %}
                    {{ spender.spender_person.name }} (w=<b>{{ spender.weight }}</b>)<br>
                {% endfor %}

                <hr style="font: 14px Georgia,serif;
                    padding: 0;
                    border: 0;
                    height: 0;
                    margin: 4px 16px 2px 0;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
                <b><i>partners:</i></b><br>

                {% for partner in spend.partners_set.all %}
                    {{ partner.partner_person.name }} (w=<b>{{ partner.weight }}</b>)<br>
                {% endfor %}</div>

        </li>
    {% endfor %}


    <nav aria-label="Page navigation example">
        <ul class="pagination">

            {% if spends.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ spends.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            
            {% for i in spends.paginator.page_range %}
                {% if spends.number == i %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{i}}
                            <span class="sr-only">{{i}}</span>
                        </span>
                    </li>
                {% elif i > spends.number|add:'-4' and i < spends.number|add:'4' %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}

            {% if spends.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ spends.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>

{% endblock %}
