<tr id="channel-{{ channel.id }}">

    <td>{{ channel.channel_type }}</td>
    <td>{{ channel.identifier }}</td>

    <!-- Priority Input -->
    <td>
        <input
            type="number"
            name="priority"
            value="{{ channel.priority }}"
            min="0"
            class="priority-input"
            
            hx-post="{% url 'panel_set_channel_priority' channel.id %}"
            hx-trigger="change"
            hx-include="this"
            hx-swap="none"
        />
    </td>

    <td>
        {% if channel.is_primary %}
        ✅
        {% endif %}
    </td>

    <td>
        {% if channel.is_verified %}
        ✅
        {% endif %}
    </td>

    <td>
        {% if channel.is_verified %}
            <button
                hx-post="{% url 'panel_channel_primary' channel.id %}"
                hx-target="#channel-{{ channel.id }}"
                hx-swap="outerHTML">
                Make Primary
            </button>
        {% endif %}

        <form
            hx-post="{% url 'panel_channel_delete' channel.id %}"
            hx-target="closest tr"
            hx-swap="outerHTML">
            <button>Delete</button>
        </form>
    </td>

</tr>
